@charset "UTF-8";

html, body {
	/* font: normal 14px; */
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: white;
	color: #333;
	height: 100%;
	font-size: 14px;
}

.group{
	display: inline-block;
}

.group label{
	font-size: 12px;
	color: grey;
}



.fa {
	color: #004466;
	text-decoration: none;
}

 a {
	outline: 0;
	color: #0288AD;
} 

.centered {
	text-align: center;
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	/* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -4em; /* margin: 0 auto -155px;  */
/* the bottom margin is the negative value of the footer's height */
}


.title {
	background-color: #FFFFFF; 
}

/* Logo */
#logo {
	position: relative;
	z-index: 100;
	padding-bottom: 10px;
	background: white url("/images/logo.png") no-repeat;
	background-color: #D2D2D3;
}


hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border-top: 1px solid grey;
}

.highlighted {
	background: yellow;
}

#header{
	text-align:center;	
	font-size: 40px;
	overflow: hidden;
	margin-top: 0px;
	margin-bottom: 50px;
	color: #fff;
	/* padding-left: 300px; */
	padding: 20px;
	background-color: #0288AD; /* 0288AD d02552  F6F3EC*/	
	
}


/* Menu */
#linkmenu-wrapper {
	height: 46px;
	overflow: hidden;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #fff;
	background-color: #0288AD; /* 0288AD d02552  F6F3EC*/
	border: 5px solid #0288AD;
}

#linkmenu {
	/* border: 1px solid #CCCCCC; */
	height: 55px;
}

#linkmenu ul {
	line-height: normal;
	text-align: center;
	overflow: hidden;
}

#linkmenu li {
	display: inline;
	padding: 10px;
}

#linkmenu a {
	letter-spacing: 1px;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	font-size: 16px;
	color: #fff;
	margin-left: 5px;
}

#linkmenu a:hover, #linkmenu .current_page_item a {
	text-decoration: underline;
}

#iit-wrapper{
    border-radius: 8px;
    border: solid thin #0288AD;
    padding: 5px;
    vertical-align: middle;
    margin-bottom: 15px ;
    margin-top: 15px ;
    display:table;
    width: 100%;
}


