ucsc-bedGraphToBigWig
ucsc-bedToBigBed
ucsc-bedclip
bwa
bedtools
samtools
sra-tools
fastqc
mysql
r
r-raster
r-r.utils
r-rcolorbrewer
r-gplots
r-batchjobs
bioconductor-compepitools
bioconductor-deseq2
bioconductor-sradb
bioconductor-geometadb
bioconductor-inspect
bioconductor-org.mm.eg.db
bioconductor-org.hs.eg.db
fastx_toolkit
bismark
bowtie
bowtie2
bismark
fastqc
subread
tophat
macs2
numpy
pymysql
configparser
cython
